@font-face {
  font-family: 'STARWARS';
  src: url('//db.onlinewebfonts.com/t/c00548f5d217ed324ae9096051927001.eot');
  src: url('//db.onlinewebfonts.com/t/c00548f5d217ed324ae9096051927001.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/c00548f5d217ed324ae9096051927001.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/c00548f5d217ed324ae9096051927001.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/c00548f5d217ed324ae9096051927001.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/c00548f5d217ed324ae9096051927001.svg#STARWARS')
      format('svg');
}

* {
  box-sizing: border-box;
  font-family: 'STARWARS';
  color: rgba(229, 177, 58, 1);
  text-shadow: black 5px 0 10px;
}

html {
  background-image: url('https://wallpaperplay.com/walls/full/9/8/3/197774.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment:fixed;
}

div {
  background-image: none !important;
}

nav {
  margin-bottom: 30px;
}

.header {
  display: flex;
  flex-direction: column;
}

.content {
  width: 80%;
}

.nav-button {
  padding: 10px;
  border: 3px solid #b37d00;
  color: #b37d00;
  transition: all .5s ease;
  font-size: 30px;
}

.nav-button:hover {
  background-color: transparent;
  border-radius: 20px;
}

.nav-button.active {
  border: 3px solid white;
  color: white;
}