aside {
  width: 20%;
  overflow: hidden;
}

.slider {
  animation: slide-up 15s linear infinite;
}

@keyframes slide-up {
  from {
      transform: translateY(600px);
  }
  to {
      transform: translateY(-100px);
  }
}